n8n-workflows/1.Job Offers Extractor.json
{
  "name": "1.Job Offers Extractor",
  "nodes": [
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        784,
        192
      ],
      "id": "0622dba5-a5c6-431d-a326-15cf3cc4347e",
      "name": "Wait",
      "webhookId": "94e8563b-32b3-4c49-bb01-b85c176a9a96"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -336,
        16
      ],
      "id": "678f65b4-fce0-4488-8a79-192292811729",
      "name": "Loop",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers",
          "mode": "list",
          "cachedResultName": "job_offers"
        },
        "limit": 1,
        "sort": {
          "values": [
            {
              "column": "id",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1232,
        16
      ],
      "id": "27c3c14f-56cf-4b52-be5c-841615424856",
      "name": "Get Last Created",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "ipa39GlGPyFeBDrh",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab inputs\nconst createdAtRaw = $('Get Last Created').first().json.created_at; \nconst defaultDate = \"2026-01-01\";\n\n// 2. Setup \"Today\" at midnight for comparison\nconst today = new Date();\ntoday.setHours(0, 0, 0, 0);\n\nlet since;\n\nconst createdAtDate = new Date(createdAtRaw);\n\n// Create a copy of createdAtDate set to midnight to compare only the calendar date\nconst createdAtMidnight = new Date(createdAtDate);\ncreatedAtMidnight.setHours(0, 0, 0, 0);\n\nif (createdAtMidnight <= today) {\n    // Scenario: Date is strictly in the past (yesterday or older)\n    since = createdAtDate.toISOString().split('T')[0];\n} else {\n    // Scenario: Date is Today or in the future\n    since = defaultDate;\n}\n\n// Return the appropriate values\nreturn { since };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        16
      ],
      "id": "770c4806-f30d-42ef-b1cd-5d7b2d6637a2",
      "name": "Since"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e07022ab-97eb-4bca-b856-666d8b89770f",
              "name": "path",
              "value": "/home/node/.n8n-files/Prompts/jobs/extractor.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1680,
        16
      ],
      "id": "fe9d883e-b355-462e-9f2d-f4baa5697328",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"type\": \"array\",\n  \"items\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"company\": { \"type\": [\"string\", \"null\"] },\n      \"email\": { \"type\": [\"string\", \"null\"] },\n      \"title\": { \"type\": [\"string\", \"null\"] },\n      \"url\": { \"type\": [\"string\", \"null\"], \"format\": \"uri\" },\n      \"description\": { \"type\": [\"string\", \"null\"] },\n      \"location\": { \"type\": [\"string\", \"null\"] },\n      \"salary\": { \"type\": [\"string\", \"null\"] },\n      \"schedule_type\": { \"type\": [\"string\", \"null\"] },\n      \"via\": { \"type\": [\"string\", \"null\"] }\n    },\n    \"required\": [\n      \"company\", \"email\", \"title\", \"url\", \"description\", \n      \"location\", \"salary\", \"schedule_type\", \"posted\", \"via\"\n    ]\n  }\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        240
      ],
      "id": "726f471b-6b85-4a9e-bf20-cfbe348f683a",
      "name": "Structured Output Parser",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.trimmedString }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Call \\'Prompt\\'').item.json.prompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        336,
        16
      ],
      "id": "6d6048b9-c47a-497d-ae72-a575b820dee9",
      "name": "Extractor",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1904,
        16
      ],
      "id": "a88cd93e-94ae-48e7-9ea2-9ed0746f277b",
      "name": "10am"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        416,
        448
      ],
      "id": "e5ade157-974f-4e1d-8854-65443dc4b0de",
      "name": "Mistral",
      "credentials": {
        "mistralCloudApi": {
          "id": "NtmdihjvK8CE1c3p",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -560,
        16
      ],
      "id": "24880f1f-a979-48c3-83e7-953402dc12b3",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "email",
        "mailboxes": [
          "NewsLetter",
          "Notification"
        ],
        "emailDateRange": {
          "since": "={{ $json.since }}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "from": "=donotreply@match.indeed.com"
        },
        "includeParts": [
          "textContent"
        ],
        "limit": {}
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        -784,
        112
      ],
      "id": "5f89c2f0-212b-4a8b-9603-2f57b92a0a8e",
      "name": "DEVHH - Indeed",
      "credentials": {
        "imapApi": {
          "id": "yK6Mg1KEC7H2roJy",
          "name": "IMAP Credentials account"
        }
      }
    },
    {
      "parameters": {
        "resource": "email",
        "mailboxes": [
          "NewsLetter",
          "Notification"
        ],
        "emailDateRange": {
          "since": "={{ $json.since }}"
        },
        "emailFlags": {},
        "customLabels": {},
        "emailSearchFilters": {
          "from": "=job*"
        },
        "includeParts": [
          "textContent"
        ],
        "limit": {}
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        -784,
        -80
      ],
      "id": "0c9a5381-dd67-497b-a453-85fd6b0933e6",
      "name": "DEVHH - Xing & LinkedIn",
      "credentials": {
        "imapApi": {
          "id": "yK6Mg1KEC7H2roJy",
          "name": "IMAP Credentials account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -112,
        -176
      ],
      "id": "4664ba69-2fb9-469d-8220-39db4fcb5dfc",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "const needle = \"Alle Jobs anzeigen\";\n\n// Assume the input comes from the first item\nconst input = $input.first().json.cleanedText; // replace 'fullString' with your field name\n\n// Trim string if needle exists\nconst outputString = input.includes(needle) ? input.split(needle)[0] : input;\n\n// Return as array of objects (n8n-compatible)\nreturn [{ json: { trimmedString: outputString } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        16
      ],
      "id": "e6e6685b-ed0c-42eb-80d7-6a9240e6e437",
      "name": "Job Offers Only"
    },
    {
      "parameters": {
        "jsCode": "async function resolveIndeedUrl(url) {\n  try {\n    const res = await fetch(url, { method: 'HEAD', redirect: 'follow' });\n    return res.url;\n  } catch {\n    return url; // fallback to original if fetch fails\n  }\n}\n\nconst results = await Promise.all(\n  items.map(async item => {\n    const text = item.json.textContent || '';\n\n    // Clean LinkedIn tracking URLs\n    const linkedinCleaned = text.replace(\n      /https?:\\/\\/www\\.linkedin\\.com\\/comm\\/jobs\\/view\\/(\\d+)([^\\s]*)/g,\n      (match, viewId) => `https://www.linkedin.com/comm/jobs/view/${viewId}/`\n    );\n\n    // Find all Indeed CTS URLs, resolve redirects in parallel\n    const indeedUrls = [...linkedinCleaned.matchAll(\n      /https?:\\/\\/cts\\.indeed\\.com\\/v3\\/[A-Za-z0-9_\\-]+\\/[A-Za-z0-9_\\-]+/g\n    )].map(m => m[0]);\n\n    const resolved = await Promise.all(indeedUrls.map(resolveIndeedUrl));\n\n    const fullyCleaned = indeedUrls.reduce(\n      (str, original, i) => str.replaceAll(original, resolved[i]),\n      linkedinCleaned\n    );\n\n    return { json: { cleanedText: fullyCleaned } };\n  })\n);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        16
      ],
      "id": "da665ddb-ae1a-40c0-aa8d-37c155fb7d10",
      "name": "Remove Tracking URLs"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rGIluizJ8qfWnidf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rGIluizJ8qfWnidf",
          "cachedResultName": "Prompt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.path }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -1456,
        16
      ],
      "id": "946b09f6-f0f9-4150-8db6-bed08c370ad4",
      "name": "Call 'Prompt'"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LHkRO7NbYVvWkxt2",
          "mode": "list",
          "cachedResultUrl": "/workflow/LHkRO7NbYVvWkxt2",
          "cachedResultName": "Job Offers - store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        112,
        -176
      ],
      "id": "7c33f73a-079a-45ee-aa3b-2d361f0e5661",
      "name": "Call 'Job Offers - store'"
    }
  ],
  "pinData": {},
  "connections": {
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Remove Tracking URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Created": {
      "main": [
        [
          {
            "node": "Since",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Since": {
      "main": [
        [
          {
            "node": "DEVHH - Indeed",
            "type": "main",
            "index": 0
          },
          {
            "node": "DEVHH - Xing & LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Call 'Prompt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extractor",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extractor": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10am": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DEVHH - Indeed": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "DEVHH - Xing & LinkedIn": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call 'Job Offers - store'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Offers Only": {
      "main": [
        [
          {
            "node": "Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Tracking URLs": {
      "main": [
        [
          {
            "node": "Job Offers Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt'": {
      "main": [
        [
          {
            "node": "Get Last Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a9a91497-d201-4aaf-8e66-9192cb392f68",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6141a4b4c9a583f1eec0a06afb1ffde3ec3dbb6c7b0ed0bd0331c0e44cad2d1"
  },
  "id": "T0n6peG7krZLH0bz",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}