n8n-workflows/2.Job Offers Research.json
{
  "name": "2.Job Offers Research",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "0545e012-4dfd-4c7b-a213-fc12191f4ab6",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        0,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.process = \"Research\";\n  return item;\n});"
      },
      "id": "33e07e7b-30fe-40ae-b181-df6500c219b9",
      "name": "Add Process To Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092cf582-7844-4e7c-a556-441f14fba081",
              "name": "cookie",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ? 'NDIzNTIwOCM0MjM1MjA4LUFFaWF2RUZqMVJsekg5MWFvS1ZiRXhxM0pReGdO%0AZzF2MzR1TGRNRnlYelE%3D--9329fa5647e86184eb3424cd08a9082071cf8f7c' : ($json.url.toLowerCase().includes('linkedin') ? 'AQEDASub8JgF0K4zAAABnQzsBxQAAAGdMPiLFE0AWDnbs9ndt6fKxMT9tQ8W6wf4l8KDTEWqIPeliFJuiFF7lb4wtCM1bo-nXsCuUtoRjT8oSUnBLmHgdAXN0QPd5THhNdJJ8IxIRdpsTxrj1Ldt39Sv' : ($json.url.toLowerCase().includes('indeed') ? 'indeed key' : '')) }}"
            },
            {
              "id": "0a859ddd-9433-43ca-99d5-7a7ca8429156",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ? 'www.xing.com' : ($json.url.toLowerCase().includes('linkedin') ? 'www.linkedin.com' : ($json.url.toLowerCase().includes('indeed') ? 'www.indeed.com' : '')) }}"
            },
            {
              "id": "2da2b25a-f151-47a1-aab3-63302b395db9",
              "name": "url",
              "type": "string",
              "value": "={{ $json.url }}"
            },
            {
              "id": "ceb26aa7-9766-449b-a112-2faa4d38c34d",
              "name": "cookie_name",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ? 'login' : ($json.url.toLowerCase().includes('linkedin') ? 'li_at' : ($json.url.toLowerCase().includes('indeed') ? 'www.indeed.com' : '')) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "931c91e0-7e68-44fc-941b-754c1c84c479",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        192
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e07022ab-97eb-4bca-b856-666d8b89770f",
              "name": "path",
              "type": "string",
              "value": "/home/node/.n8n-files/Prompts/jobs/research.md"
            },
            {
              "id": "83114999-2145-4d88-bde7-0a368b3eab79",
              "name": "mistral_api_key",
              "type": "string",
              "value": "pF8g3Q7cIt8flY3SDcu6kc6TwXWGiGhJ"
            },
            {
              "id": "be33fa53-d699-4633-ba84-55c4d36c4ecd",
              "name": "zai_api_key",
              "type": "string",
              "value": "0a3b138ea62943b5835e9d6650be5a32.W8zS4LhkdCNAxQpb"
            }
          ]
        },
        "options": {}
      },
      "id": "99123b33-de66-45df-bae5-224b767291b7",
      "name": "SetAppVars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        480
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 1 }}"
      },
      "id": "6baf2780-0e99-4908-9cf7-3e7776c8e043",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2016,
        32
      ],
      "webhookId": "b9343538-cb27-4878-9cf4-8d7904bb8d06"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n\tjo.id,\n    jo.title,\n    jo.url\nFROM \n\tjob_offers jo\nWHERE \n\tid \nIN(\n\tSELECT \n\t\tjop.job_offers_id \n\tfrom\n\t\tjob_offers_process jop \n\twhere\n\t\tjop.research = false\n)\n;",
        "options": {}
      },
      "id": "9d9e81d8-9aef-4c88-80d9-229787f9265e",
      "name": "Offers Research",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -224,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "ceRmvobzfi3fViKu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/crawl/job",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"urls\": [\n    \"{{$json.url}}\"\n  ],\n  \"browser_config\": {\n    \"type\": \"BrowserConfig\",\n    \"params\": {\n      \"headless\": true,\n      \"enable_stealth\": true,\n      \"headers\": {\n        \"User-Agent\": \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 Chrome/122.0.0.0 Safari/537.36\",\n        \"Accept-Language\": \"de-DE,de;q=0.9,en-US;q=0.8,en;q=0.7\",\n        \"Referer\": \"https://www.google.com/\"\n      },\n      \"cookies\": [\n        {\n          \"name\": \"{{$json.cookie_name}}\",\n          \"value\": \"{{$json.cookie}}\",\n          \"domain\": \"{{$json.domain}}\",\n          \"path\": \"/\",\n          \"secure\": true\n        }\n      ]\n    }\n  },\n  \"crawler_config\": {\n    \"type\": \"CrawlerRunConfig\",\n    \"params\": {\n      \"magic\": true,\n      \"cache_mode\": \"bypass\",\n      \"wait_until\": \"networkidle\",\n      \"page_timeout\": 60000,\n      \"remove_overlay_elements\": true,\n      \"verbose\": true,\n      \"js_code\": \"await new Promise(r => setTimeout(r, 3000)); await window.scrollTo(0, document.body.scrollHeight / 3); await new Promise(r => setTimeout(r, 1500)); await window.scrollTo(0, document.body.scrollHeight * 0.66); await new Promise(r => setTimeout(r, 1500)); await window.scrollTo(0, document.body.scrollHeight);\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "ff00e9a5-b797-4755-a52b-a526fa7c2da7",
      "name": "Submit Crawl Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        672,
        192
      ]
    },
    {
      "parameters": {
        "url": "http://crawl4ai:11235/crawl/job/{{$json[\"task_id\"]}}",
        "options": {}
      },
      "id": "41641488-c5c3-457d-8b34-954a8b258d65",
      "name": "Check Crawl Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1344,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"status\"]}}",
              "value2": "completed"
            }
          ]
        }
      },
      "id": "9d06847f-4063-4080-b64b-9621b18c479a",
      "name": "Is Completed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1568,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst result = {\n  id: $('Loop').first().json.id,\n  title: $('Loop').first().json.title,\n  description: ''\n};\n\n// Handle crawl4ai LLM extraction response\nif (input && input.results && input.results[0] && input.results[0].extracted_content) {\n  result.description = input.results[0].extracted_content;\n} else if (input && input.results && input.results[0] && input.results[0].markdown && input.results[0].markdown.raw_markdown) {\n  result.description = input.results[0].markdown.raw_markdown;\n} else if (input && input.data && input.data[0] && input.data[0].content) {\n  result.description = input.data[0].content;\n} else if (input && input.message) {\n  result.description = input.message;\n} else {\n  result.description = 'No content available';\n}\n\nreturn [result];"
      },
      "id": "f70db9a3-4a1d-4f7f-9fdc-b2464ef630be",
      "name": "JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        32
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "131a81b3-b4bf-432c-be81-4ac8e99d9883",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "webhookId": "9ed9caee-2ed8-4f6e-9989-72a7472a4c00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "retry-count-001",
              "name": "retry_count",
              "type": "number",
              "value": "={{ 0 }}"
            },
            {
              "id": "retry-task-id",
              "name": "task_id",
              "type": "string",
              "value": "={{ $json.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9f4424b1-7691-4210-b438-43a2aeaf1a46",
      "name": "Init Retry Count",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ]
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "seconds"
      },
      "id": "f34f20a2-b443-4c89-b5b7-30e63d8e7b30",
      "name": "Wait Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2240,
        288
      ],
      "webhookId": "c844b9cb-a7b9-404c-a65d-3c7a9534f88f"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.retry_count ?? 0 }}",
              "value2": 5
            }
          ]
        }
      },
      "id": "ade6dbfe-3a61-4170-8617-f8d13460357c",
      "name": "Max Retries Exceeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1792,
        224
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "incr-retry-001",
              "name": "retry_count",
              "type": "number",
              "value": "={{ ($json.retry_count ?? 0) + 1 }}"
            },
            {
              "id": "keep-task-id",
              "name": "task_id",
              "type": "string",
              "value": "={{ $json.task_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "02f94aed-87df-4dd0-aec5-9b48e7b57844",
      "name": "Increment Retry",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2016,
        224
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1d08b07-6517-4f0e-98b8-79c180b19f8d",
              "leftValue": "={{ $json.url }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3b118d3d-62ce-4b35-a12a-af2462804abb",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        192
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LHkRO7NbYVvWkxt2",
          "mode": "list",
          "cachedResultUrl": "/workflow/LHkRO7NbYVvWkxt2",
          "cachedResultName": "Job Offers - store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "f94c7541-5fd0-4f69-9de8-caf7efc14e62",
      "name": "Call 'Job Offers - store'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "833e051d-34b5-4b94-a721-ea56f4b3b0cc",
      "name": "11am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        480
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "SetAppVars": {
      "main": [
        [
          {
            "node": "Offers Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offers Research": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Add Process To Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Process To Output": {
      "main": [
        [
          {
            "node": "Call 'Job Offers - store'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Submit Crawl Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Crawl Job": {
      "main": [
        [
          {
            "node": "Init Retry Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Retry Count": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Check Crawl Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Crawl Status": {
      "main": [
        [
          {
            "node": "Is Completed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Completed?": {
      "main": [
        [
          {
            "node": "JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Max Retries Exceeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Max Retries Exceeded?": {
      "main": [
        [
          {
            "node": "Increment Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Increment Retry": {
      "main": [
        [
          {
            "node": "Wait Retry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Retry": {
      "main": [
        [
          {
            "node": "Check Crawl Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11am": {
      "main": [
        [
          {
            "node": "SetAppVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "f1668530-cdbb-49fd-8a8b-9ff5d88736e2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "Sdr3tGnYNBHZG0Sj",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}