n8n-workflows/2.Job Offers Research.json
{
  "name": "2.Job Offers Research",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "31cbaa4a-5359-4369-aaff-e73f6c86a4f1",
      "name": "Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        1680
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  item.json.process = \"Research\";\n  return item;\n});"
      },
      "id": "8f88a01f-2d3b-4cc4-9f40-71a3f1b240ca",
      "name": "Add Process To Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1408
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "092cf582-7844-4e7c-a556-441f14fba081",
              "name": "cookie",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ?  $('SetAppVars').item.json.cookie_xing: ($json.url.toLowerCase().includes('linkedin') ? $('SetAppVars').item.json.cookie_linkedin: ($json.url.toLowerCase().includes('indeed') ? 'indeed key' : '')) }}"
            },
            {
              "id": "0a859ddd-9433-43ca-99d5-7a7ca8429156",
              "name": "domain",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ? 'www.xing.com' : ($json.url.toLowerCase().includes('linkedin') ? 'www.linkedin.com' : ($json.url.toLowerCase().includes('indeed') ? 'www.indeed.com' : '')) }}"
            },
            {
              "id": "2da2b25a-f151-47a1-aab3-63302b395db9",
              "name": "company",
              "type": "string",
              "value": "={{ $json.company }}"
            },
            {
              "id": "ceb26aa7-9766-449b-a112-2faa4d38c34d",
              "name": "cookie_name",
              "type": "string",
              "value": "={{ $json.url.toLowerCase().includes('xing') ? 'login' : ($json.url.toLowerCase().includes('linkedin') ? 'li_at' : ($json.url.toLowerCase().includes('indeed') ? 'www.indeed.com' : '')) }}"
            },
            {
              "id": "fd61213f-6da1-402a-95a5-cb29f1703d68",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "96be424b-5968-403a-bb3e-fad627ed669e",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9bf04af2-2387-4e6c-abf8-51339d28493e",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1312,
        1600
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e07022ab-97eb-4bca-b856-666d8b89770f",
              "name": "path",
              "type": "string",
              "value": "/home/node/.n8n-files/Prompts/jobs/research.md"
            },
            {
              "id": "83114999-2145-4d88-bde7-0a368b3eab79",
              "name": "mistral_api_key",
              "type": "string",
              "value": ""
            },
            {
              "id": "be33fa53-d699-4633-ba84-55c4d36c4ecd",
              "name": "zai_api_key",
              "type": "string",
              "value": ""
            },
            {
              "id": "57e58456-a110-4e89-8168-c4ac47f11049",
              "name": "cookie_linkedin",
              "value": "AQEDASub8JgDaykvAAABnSIGqFsAAAGdRhMsW00Az4GcL3nTeVKp4Vu_BuMJX_NfI6Ql3bjOraCtbbS0D1WLB4lTSmUfp5I-bqI2NxMCwlNu_LaaIo5nToZVTZk5D0puaU1Y-6n6aLGGcubmHoV6fegt",
              "type": "string"
            },
            {
              "id": "4dc26a28-35b5-4a3d-b6ba-9e80c02f79b7",
              "name": "cookie_xing",
              "value": "NDIzNTIwOCM0MjM1MjA4LW1wSnk3SUJnT1Z1SGQzMlhBRVpxTkZpRWpRb21P%0Ad0Vidms3M3Nid3E0Zms%3D--d80845efd8dd04bcb021a20801ad4cde845eca81",
              "type": "string"
            },
            {
              "id": "1ea26f04-f140-4cd8-bcc7-1149a7774e53",
              "name": "path",
              "value": "/home/node/.n8n-files/Prompts/jobs/crawl4ai.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c758657d-aa7b-4e80-8f98-d2bc53311af1",
      "name": "SetAppVars",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        1680
      ]
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 1 }}"
      },
      "id": "9df892eb-3a0d-44dd-a445-276edb8769cb",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1968,
        1680
      ],
      "webhookId": "bf56d2c4-2e99-4bc0-ad4c-4c850e1aa551"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n\tjo.id,\n    jo.company,\n    jo.title,\n    jo.url\nFROM \n\tjob_offers jo\nWHERE \n\tid \nIN(\n\tSELECT \n\t\tjop.job_offers_id \n\tfrom\n\t\tjob_offers_process jop \n\twhere\n\t\tjop.research = false\n)\n;",
        "options": {}
      },
      "id": "14f9a949-4d0b-4530-8d18-157da215e1f3",
      "name": "Offers Research",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        1680
      ],
      "credentials": {
        "postgres": {
          "id": "wthjjnZmr2Hf72m0",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://crawl4ai:11235/crawl",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "75e05300-eff4-457a-9273-a682e7910ab5",
      "name": "Submit Crawl Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1744,
        1600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d1d08b07-6517-4f0e-98b8-79c180b19f8d",
              "leftValue": "={{ $json.url }}",
              "rightValue": "https://",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e7ccba32-2bb1-44a2-afa4-7028e95aea28",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        1600
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "id": "2aebc1bf-94f2-434b-81e3-227f7c083a27",
      "name": "11am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        1680
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "LHkRO7NbYVvWkxt2",
          "mode": "list",
          "cachedResultUrl": "/workflow/LHkRO7NbYVvWkxt2",
          "cachedResultName": "Job Offers - store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "8e087a81-2d53-4cb4-9063-e04042e892f5",
      "name": "Call 'Job Offers - store'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        1408
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rGIluizJ8qfWnidf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rGIluizJ8qfWnidf",
          "cachedResultName": "Prompt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        1680
      ],
      "id": "63b50c55-c318-4372-aa99-8555b32a84c7",
      "name": "Call 'Prompt'"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw string and strip everything before the first '{'\nlet rawPrompt = $('Call \\'Prompt\\'').first().json.prompt;\nconst firstBrace = rawPrompt.indexOf('{');\nif (firstBrace !== -1) {\n  rawPrompt = rawPrompt.substring(firstBrace);\n}\n\n// 2. Clean up any trailing markdown backticks\nrawPrompt = rawPrompt.replace(/```/g, \"\").trim();\n\n// 3. Replacement Logic\n// We use a helper to escape double quotes in the variables to prevent breaking the JSON string\nconst escape = (str) => String(str).replace(/\"/g, '\\\\\"');\n\nlet payloadString = rawPrompt\n  .replace('URL', escape($input.first().json.url))\n  .replace('COOKIE_NAME', escape($input.first().json.cookie_name))\n  .replace('COOKIE_VALUE', escape($input.first().json.cookie))\n  .replace('DOMAIN', escape($input.first().json.domain));\n\ntry {\n  // 4. Final Parse\n  return {\n    json: JSON.parse(payloadString)\n  };\n} catch (error) {\n  // 5. Detailed error reporting for debugging\n  return {\n    json: {\n      error: \"Invalid JSON after replacement\",\n      reason: error.message,\n      raw: payloadString\n    }\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1600
      ],
      "id": "9bfe3bc6-89a2-451e-8aa3-edd02320bf79",
      "name": "Prompt Vars"
    }
  ],
  "pinData": {},
  "connections": {
    "SetAppVars": {
      "main": [
        [
          {
            "node": "Call 'Prompt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Offers Research": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Add Process To Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Process To Output": {
      "main": [
        [
          {
            "node": "Call 'Job Offers - store'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Prompt Vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Submit Crawl Job": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11am": {
      "main": [
        [
          {
            "node": "SetAppVars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt'": {
      "main": [
        [
          {
            "node": "Offers Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Vars": {
      "main": [
        [
          {
            "node": "Submit Crawl Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "saveDataSuccessExecution": "all"
  },
  "versionId": "358bab85-e513-4e1e-b149-233c0c3ee8d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "Sdr3tGnYNBHZG0Sj",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}