n8n-workflows/3.Job Application Writer.json
{
  "name": "3.Job Application Writer",
  "nodes": [
    {
      "parameters": {
        "description": "Use this tool to decompose the job offer and plan the narrative strategy. Mandatory for analyzing the required tech stack, company tone, and core responsibilities before searching the Vector Store. Use it to ensure the final application is grounded in logic and matches the specific requirements of the role without using forbidden buzzwords."
      },
      "id": "04b3b871-de32-4afe-8176-26b81b0c64b4",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        400,
        592
      ],
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# INPUT\nJOB_COMPANY:{{ $json.company }}\nNOW:{{ $now }}\nJOB_TITLE: {{ $json.subject }}\nJOB_DESCRIPTION:{{ $json.description }}\n\n",
        "options": {
          "systemMessage": "={{ $('Call \\'Prompt\\'').item.json.prompt }}"
        }
      },
      "id": "74381c1c-cc36-41da-83d2-c5d0ac7af7b9",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        336,
        368
      ]
    },
    {
      "parameters": {},
      "id": "c95b7d0a-e04f-4259-8cd1-2d6a4f5ec381",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1296,
        784
      ]
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "createDraft",
        "destinationMailbox": {
          "__rl": true,
          "value": "Entwürfe",
          "mode": "list",
          "cachedResultName": "Entwürfe"
        },
        "subject": "={{ $('Edit Fields').item.json.subject }}",
        "from": "={{ $json.sender_name }} <{{ $json.sender_email }}>",
        "to": "={{ $('Edit Fields').item.json.email }}",
        "text": "={{ $json.content }}"
      },
      "id": "55b8c0bc-f3f9-483c-a380-12878068ac42",
      "name": "CreateDraft email",
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        1184,
        576
      ],
      "credentials": {
        "imapApi": {
          "id": "RAQOJvVV6FYYNPgC",
          "name": "DEVHH"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "0a1642c7-d0cf-436a-8ea8-0890d32bb09f",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -400,
        688
      ]
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "3c2d37ca-6111-4fd1-ab9e-3091df3f54ea",
      "name": "Mistral",
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        272,
        592
      ],
      "credentials": {
        "mistralCloudApi": {
          "id": "GDArvIq99nR7iVjE",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "200f1c16-a4b3-4cb6-840b-e5d5ab746495",
              "leftValue": "={{ $('Edit Fields').item.json.email }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "74305e25-949f-4825-abf3-556148f110e6",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        496
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "433715e5-6ff7-4a01-8bd0-220ac93892ec",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c36d91c2-cc1f-4286-93f3-e578ce14b347",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "e70eb84d-2d35-4986-b245-1965b7a83191",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a5729bbe-f05b-407b-8728-cad3d8f79f8a",
              "name": "company_url",
              "value": "={{ $json.company_url }}",
              "type": "string"
            },
            {
              "id": "5f2aa5c3-ee6c-42da-93a2-75ad3d3fc6c3",
              "name": "subject",
              "value": "=Bewerbung: {{ $json.title }}",
              "type": "string"
            },
            {
              "id": "980cdc07-5764-469b-9343-9896096db69c",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4685bf99-0ef9-405f-8847-b4454589e295",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        48,
        368
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c02b94e3-1a1c-49b9-938f-71121a9159c6",
              "leftValue": "={{ ($json.description.match(/\\p{L}/gu) || []).length }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "id": "562f74ac-d6e5-44ea-bcf0-78f086bc1e48",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -176,
        368
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_applications",
          "mode": "list",
          "cachedResultName": "job_applications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_offers_id": "={{ $('Edit Fields').item.json.id }}",
            "company": "={{ $('Edit Fields').item.json.company }}",
            "recp_email": "={{ $('Edit Fields').item.json.email }}",
            "title": "={{ $('Edit Fields').item.json.subject }}",
            "content": "={{ $json.output }}",
            "sender_name": "={{ $('Edit Fields1').item.json.sender_name }}",
            "sender_email": "={{ $('Edit Fields1').item.json.sender_email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_offers_id",
              "displayName": "job_offers_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recp_name",
              "displayName": "recp_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recp_email",
              "displayName": "recp_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "32c939c8-bf30-4788-afa0-752c2353e4d2",
      "name": "Save",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        368
      ],
      "credentials": {
        "postgres": {
          "id": "EYfvo1U3cbPB2TYV",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rGIluizJ8qfWnidf",
          "mode": "list",
          "cachedResultUrl": "/workflow/rGIluizJ8qfWnidf",
          "cachedResultName": "Prompt"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "path": "={{ $json.path }}"
          },
          "matchingColumns": [
            "path"
          ],
          "schema": [
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "6aac8392-3f6c-4226-ba93-447edf0f149d",
      "name": "Call 'Prompt'",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -848,
        688
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e07022ab-97eb-4bca-b856-666d8b89770f",
              "name": "path",
              "value": "/home/node/.n8n-files/Prompts/jobs/writer.md",
              "type": "string"
            },
            {
              "id": "f70e25c3-5601-488d-b752-0be8bd2270ea",
              "name": "sender_name",
              "value": "Osiozekhai Aliu",
              "type": "string"
            },
            {
              "id": "033d6ae4-becb-4798-bbaf-a5afd4fb7b4a",
              "name": "sender_email",
              "value": "aliu@dev-hh.de",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "eb2f2d67-00d5-4b59-9026-4750f0209b01",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1072,
        688
      ]
    },
    {
      "parameters": {
        "toolDescription": "FastAPI Endpoint for Skills and Experience on the Candidate",
        "method": "POST",
        "url": "http://api-backend:8000/api/v1/search",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "include_scores",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "071903fa-f3ce-4f3e-a4de-0722899e8b66",
      "name": "FastAPI",
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        528,
        592
      ],
      "rewireOutputLogTo": "ai_tool"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM job_offers jo \nWHERE jo.id = CAST({{ $('Capture Query Param').item.json.job_offers_id }} AS integer)\n  AND jo.description IS NOT NULL\n  AND LENGTH(jo.description) > 200\n  AND NOT EXISTS (\n      SELECT 1 \n      FROM job_applications ja \n      WHERE ja.job_offers_id = jo.id\n  );",
        "options": {}
      },
      "id": "8f1f9c4f-a98c-41d0-b637-84082f73a083",
      "name": "Get Offers with Desc without Letter",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -624,
        688
      ],
      "credentials": {
        "postgres": {
          "id": "EYfvo1U3cbPB2TYV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "writer",
        "options": {
          "rawBody": false
        }
      },
      "id": "f27010b8-4b6c-4978-b2b3-f2bc2f275b6d",
      "webhookId": "99bfffa2-3111-49dc-9d7b-aef87435d3c4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1520,
        592
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "job_offers_id",
              "name": "job_offers_id",
              "value": "={{ $('Webhook').item.json.body.job_offers_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "bed8fcb9-81b2-4502-befd-610013d6391b",
      "name": "Capture Query Param",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        592
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateDraft email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CreateDraft email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Prompt'": {
      "main": [
        [
          {
            "node": "Get Offers with Desc without Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Call 'Prompt'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FastAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Offers with Desc without Letter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Capture Query Param",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Capture Query Param": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "36bceb99-6eed-4f48-a8e0-ca23ff81918d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "VKuRwjXo1SdXDOKh",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}