n8n-workflows/4.Job Offers Relevance.json
{
  "name": "4.Job Offers Relevance",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers",
          "mode": "list",
          "cachedResultName": "job_offers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "match_score_percentage",
              "value": "0"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        672
      ],
      "id": "b4a2404f-6d05-41dd-a655-5d2bb90a3e9c",
      "name": "Job Offers"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        672
      ],
      "id": "87ae9b9c-4645-4baa-90fb-a9c757768133",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 11
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -672,
        672
      ],
      "id": "298418ed-6e5f-4dfd-8c15-3d8a9bcda9ac",
      "name": "11am"
    },
    {
      "parameters": {
        "model": "magistral-small-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1216,
        896
      ],
      "id": "b32c5da8-37c9-426d-a11c-c06f2d0ebc6c",
      "name": "Small"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"job\": {\n    \"id\": \"{{ $('Loop Over Items').first().json.id }}\",\n    \"title\": \"{{ $('Loop Over Items').first().json.title }}\",\n    \"description\": \"{{ $('Loop Over Items').first().json.description }}\"\n  }\n}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=--- \n\n### Agent 1: The Scout (Dynamic Job Analysis & Candidate Retrieval)\n\n**TCREI FRAMEWORK:**\n\n* **Task:** Analyze job requirements and retrieve matching candidate profiles from vector database\n* **Context:** First stage of dynamic career match engine - adapts to any job type\n* **Role:** Intelligent Job Analyst & Candidate Search Specialist  \n* **Execute:** Extract actual job requirements, search vector store, provide evidence\n* **Interrogate:** Are the extracted requirements accurate? Did the search return relevant candidates?\n\n**DYNAMIC ANALYSIS PROCESS:**\n\n1. **Job Requirements Extraction:** Analyze the job title and description to identify the ACTUAL skills, experience level, role type, and technologies required for THIS SPECIFIC POSITION. Do not assume or use hardcoded requirements.\n\n2. **Candidate Search:** Use the Vector Store tool to find candidate profiles that possess the skills and experience you identified in step 1.\n\n3. **Evidence Extraction:** Compare candidate profiles against the ACTUAL job requirements. Extract specific evidence showing matches and gaps for:\n   - **Skills & Technologies:** What programming languages, frameworks, tools are required vs. what candidates have\n   - **Role & Experience:** What type of role and experience level is needed vs. candidate backgrounds  \n   - **Seniority Level:** Years of experience required vs. candidate tenure\n   - **Domain Expertise:** Industry or domain knowledge needed vs. candidate specializations\n\n**Constraint:** Focus on the ACTUAL requirements from the job posting. Ignore any assumptions about specific technologies unless they're explicitly mentioned.\n\n**Output Format:** Structured evidence report showing matches between job requirements and candidate capabilities.\n\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        192
      ],
      "id": "5d260775-002d-4634-b577-dc6430faac0b",
      "name": "1. The Scout"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=## Input\n{{ JSON.stringify($json.output, null, 2) }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "---  ### Agent 2: The Analyst (Weighted Scoring)  **TCREI FRAMEWORK:**  * **Task:** Calculate a precise weighted match score based on extracted evidence. * **Context:** Second stage. Operates on the \"Evidence Report\" from the Scout. * **Role:** Mathematical Reasoning Analyst. * **Execute:** Apply the 45/25/20/10 weighting formula. * **Interrogate:** Is the math consistent? Does a missing profile correctly trigger the \"Score = 1\" fallback?  **PROMPT:**  **Chain of Thought:** 1. Review the input from the Scout. 2. **Check Fallback:** If the input is \"STATUS: NO_PROFILE_DATA_FOUND\", immediately set the `final_score` to **1**. 3. **Weighted Calculation:** If data exists, calculate the score step-by-step: * **Skills [45%]:** What % of PHP/Magento/Linux requirements are met? (Weight * 0.45) * **Role [25%]:** How well does the profile align with ERP/Dynamics 365? (Weight * 0.25) * **Seniority [20%]:** Does the user have 20+ years of experience? (Weight * 0.20) * **Tooling [10%]:** Match for C#/Azure/Windows Server? (Weight * 0.10)   4. Sum the components to create a final integer between 1 and 100.   **Constraint:** Ensure the logic is strictly mathematical and follows the weights exactly. **Output Format:** Text (Internal Reasoning + Final Score Integer).  ---"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        400
      ],
      "id": "dcfc6706-ff8e-4ad8-942e-026636fe72a8",
      "name": "2. The Analyst"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"id\": \"{{ $('Loop Over Items').first().json.id }}\",\n  \"title\": \"{{ $('Loop Over Items').first().json.title }}\",\n  \"analyst_output\": \"{{ JSON.stringify($json.output, null, 2) }}\"\n}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "---\n\n### Agent 3: The Matchmaker (JSON Formatting)\n\n**TCREI Framework:**\n\n* **Task:** Clean the Analyst's output and generate the final JSON object.\n* **Context:** The final delivery stage. No domain filtering is required.\n* **Role:** Quality Control and Formatting Specialist.\n* **Execute:** Extract the final integer score and map it to the job metadata (ID and Title).\n* **Interrogate:** Is the output **ONLY** a valid JSON object?\n\n**PROMPT:**\n\n**Chain of Thought:**\n1. Review the input containing the Job Metadata (ID, Title) and the Analyst's calculation text.\n2. **Extract Score:** Identify the final integer score (1-100) from the Analyst's reasoning. Ignore all LaTeX math and \"thinking\" steps.\n3. **Construct JSON:** Map the `id`, `title`, and `match_score_percentage` into the final structure.\n\n\n**Constraint:** Your response must contain **ONLY** the JSON object. Do not include introductory text, reasoning, or markdown headers outside of the JSON block.\n\n---"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1200,
        672
      ],
      "id": "30c4ba2a-fb9c-4375-a47d-96684c6e646f",
      "name": "3. The Matchmaker"
    },
    {
      "parameters": {
        "model": "mistral-large-latest",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        864,
        624
      ],
      "id": "65705eec-0acb-48b7-951b-0c26a0521a71",
      "name": "Large",
      "credentials": {
        "mistralCloudApi": {
          "id": "yy2J74r8rO6wyA97",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"description\": \"Either 'PROFILE_DATA_FOUND' or 'NO_PROFILE_DATA_FOUND'\"\n    },\n    \"evidence\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"skills\": { \"type\": \"string\", \"description\": \"Evidence for PHP, Magento, Linux\" },\n        \"role\": { \"type\": \"string\", \"description\": \"Evidence for ERP/Dynamics 365\" },\n        \"seniority\": { \"type\": \"string\", \"description\": \"Evidence for 20+ years experience\" },\n        \"tooling\": { \"type\": \"string\", \"description\": \"Evidence for C#, Azure, Windows Server\" }\n      }\n    }\n  },\n  \"required\": [\"status\", \"evidence\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        416
      ],
      "id": "8a027e7d-dd39-4129-a5eb-53d1a4389637",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"calculation_steps\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" },\n      \"description\": \"Step-by-step breakdown of the 45/25/20/10 math\"\n    },\n    \"final_score\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 100,\n      \"description\": \"The final weighted match score\"\n    }\n  },\n  \"required\": [\"calculation_steps\", \"final_score\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        992,
        624
      ],
      "id": "9d916b35-a88c-40b5-b5ec-c21c782cc9e8",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"id\": {\n      \"type\": \"string\",\n      \"description\": \"The unique identifier or URL of the job advertisement.\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"The official job title from the advertisement.\"\n    },\n    \"match_score_percentage\": {\n      \"type\": \"integer\",\n      \"minimum\": 1,\n      \"maximum\": 100,\n      \"description\": \"The final calculated weighted score from the Analyst.\"\n    }\n  },\n  \"required\": [\"id\", \"title\", \"match_score_percentage\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1344,
        896
      ],
      "id": "f844cab4-2077-431d-a3f0-50be4d7f5a7f",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ae453b0f-aeb5-4908-9e74-06536cd5b155",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        432,
        0
      ],
      "id": "5bd6ac6e-b9d7-44f0-be31-efebde0734c8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1a10bb4b-7979-475a-9b21-a9c875e4f994",
              "leftValue": "={{ $json.description }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        0,
        608
      ],
      "id": "1169f13c-06ff-4c1f-bc42-a60b9a4c5f1d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "afcb18b8-6938-4d6d-a8fd-becdc0b22a14",
              "name": "output.id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "e4940d8a-2847-401f-822c-fcfc4685428a",
              "name": "output.title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "33bba2ce-fc84-4c67-9f64-f86280bda225",
              "name": "output.match_score_percentage",
              "value": 1,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        800
      ],
      "id": "925da260-c792-4664-8c5e-97145bb65a08",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "ministral-14b-latest",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        224,
        416
      ],
      "id": "911c3df7-4adc-4d99-9041-c11e3adaedf5",
      "name": "Ministral 14B",
      "credentials": {
        "mistralCloudApi": {
          "id": "yy2J74r8rO6wyA97",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "# Qdrant Vector Store – Kandidaten-Skills\n\n**Beschreibung:**  \nDer Qdrant Vector Store speichert **repräsentative Vektor-Embeddings von Kandidatenprofilen**, insbesondere deren **technische Skills, Projekterfahrungen und Tool-Expertise**. Jeder Kandidat wird als **hochdimensionaler Vektor** abgebildet, sodass **ähnliche Kandidaten oder relevante Skills schnell und präzise gefunden** werden können.  \n\n**Zweck im Recruiting-Prompt:**  \n- Ermöglicht dem Modell, vor jeder Analyse **relevante Kandidateninformationen** zu laden.  \n- Unterstützt das **Think Tool** bei der aktiven Bewertung von Jobanforderungen gegenüber Kandidaten-Skills.  \n- Macht das Matching zwischen Job und Kandidat **datenbasiert, nachvollziehbar und reproduzierbar**.  \n\n**Beispielhafte Inhalte:**  \n- Programmiersprachen (PHP, Python, JavaScript)  \n- Frameworks (Magento, Symfony, Laravel)  \n- APIs / Schnittstellen (REST, GraphQL)  \n- Frontend / Backend / Fullstack Expertise  \n- Projektbezogene Erfahrungen (E-Commerce, CI/CD, Cloud)  \n\n**Hinweis:**  \nDer Vector Store dient **ausschließlich als interner Referenzspeicher für Kandidateninformationen**. Das Modell **greift automatisch auf die relevanten Vektoren zu**, bevor es Job-Matching oder fachliche Analysen erstellt.\n",
        "qdrantCollection": {
          "__rl": true,
          "value": "resume",
          "mode": "list",
          "cachedResultName": "resume"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        352,
        416
      ],
      "id": "356512c6-6418-4043-8946-86cc86af8804",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "5zLckKlW4WMSmDEm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        432,
        624
      ],
      "id": "349e89c6-f1f3-4f7a-99fc-80c3698ae504",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "yy2J74r8rO6wyA97",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Wid8WChv0qsl3Lux",
          "mode": "list",
          "cachedResultUrl": "/workflow/Wid8WChv0qsl3Lux",
          "cachedResultName": "Job Offers - store"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        640,
        0
      ],
      "id": "3783e070-1875-4673-9157-9d46912b0648",
      "name": "Call 'Job Offers - store'"
    }
  ],
  "pinData": {},
  "connections": {
    "Job Offers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11am": {
      "main": [
        [
          {
            "node": "Job Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Small": {
      "ai_languageModel": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "1. The Scout": {
      "main": [
        [
          {
            "node": "2. The Analyst",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. The Analyst": {
      "main": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. The Matchmaker": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Large": {
      "ai_languageModel": [
        [
          {
            "node": "2. The Analyst",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "2. The Analyst",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "3. The Matchmaker",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Call 'Job Offers - store'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "1. The Scout",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ministral 14B": {
      "ai_languageModel": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "1. The Scout",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6730d124-c5ff-4fb0-aaaa-7b91f480062d",
  "meta": {
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "7sEN3bsDB0dtRsgr",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}