n8n-workflows/6.Job Application Writer.json
{
  "name": "6.Job Application Writer",
  "nodes": [
    {
      "parameters": {
        "description": "Use this tool to decompose the job offer and plan the narrative strategy. Mandatory for analyzing the required tech stack, company tone, and core responsibilities before searching the Vector Store. Use it to ensure the final application is grounded in logic and matches the specific requirements of the role without using forbidden buzzwords."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        176,
        736
      ],
      "id": "78a02e53-86a3-45b3-8e5f-45790aa92739",
      "name": "Think"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# METADATA\nJOB_COMPANY:{{ $json.company }}\nNOW:{{ $now }}\nJOB_TITLE: {{ $json.subject }}\nJOB_DESCRIPTION:{{ $json.description }}",
        "options": {
          "systemMessage": "=SKILLS: from Qdrant vector DB\n\n# ROLE\nHarvard-educated Psychologist & Elite Negotiator (IQ/EQ 170). \nExpertise: 20y Magento/Web development.\nTask: Write the application letter.\n\n# EVALUATION CRITICS (INTERNAL ONLY)\nBefore writing, mentally satisfy:\n1. THE RECRUITER (Keywords/Competence)\n2. THE HIRING MANAGER (Technical Depth/Team Fit)\n3. THE HR SPECIALIST (Risk Mitigation/Compliance)\n4. THE EXECUTIVE (Strategic Empathy/Long-term Value)\n\n# WRITING RULES\n- OUTPUT: RAW TEXT ONLY. \n- NO JSON. NO MARKDOWN HEADERS. NO PREAMBLE. NO \"HERE IS THE LETTER\".\n- STYLE: Calibrated persuasion. Calm authority. Human, not AI.\n- FORBIDDEN: game-changer, transform, delve, unleash, revolutionize, meticulous, navigating, complexities, realm, bespoke, tailored, towards, not only, it's not merely, magic, grab a coffee.\n- STRUCTURE: 4 paragraphs exactly.\n\n# EXECUTION\nJOB_TITLE from METADATA to anchor the letter. Address the \"Trust Gap\" and validate the employer's position. \n\n\nStructure:\n\n1. Human opening\n2. Emotional validation\n3. Strategic reassurance\n4. Value framing\n5. Soft but confident close\n6. Clear next step\n\n---\n\n### Rules\n\n- Take your time before writing.\n- Avoid clichés and AI-style phrasing.\n- Write like a real, intelligent human.\n- No emojis.\n- No exaggerated enthusiasm.\n- No sales tone.\n- No over-explaining."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        104,
        512
      ],
      "id": "d3de9c59-d7bf-4b55-9659-db3b446f9bd6",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        640
      ],
      "id": "b174299f-021b-46d6-a877-ba54e3d546cf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "createDraft",
        "destinationMailbox": {
          "__rl": true,
          "value": "Entwürfe",
          "mode": "list",
          "cachedResultName": "Entwürfe"
        },
        "subject": "={{ $('Edit Fields').item.json.subject }}",
        "from": "=",
        "to": "={{ $('Edit Fields').item.json.email }}",
        "text": "={{ $json.content }}"
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        896,
        760
      ],
      "id": "fd5e2f01-e5c5-4d76-b521-1bfca932e670",
      "name": "CreateDraft email",
      "credentials": {
        "imapApi": {
          "id": "TFG2gg5FUgDD4Oyd",
          "name": "IMAP Credentials account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers",
          "mode": "list",
          "cachedResultName": "job_offers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "email",
              "condition": "!=",
              "value": "null"
            },
            {
              "column": "description",
              "condition": "!=",
              "value": "=null"
            }
          ]
        },
        "combineConditions": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        640
      ],
      "id": "b5ec441b-494a-4b32-8275-7e149a1295af",
      "name": "Job Offers",
      "credentials": {
        "postgres": {
          "id": "g5e3W2e5yHEjzZoI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve verified professional experience, technical skills, and project references for me the writer. Access this database to find concrete evidence of expertise in Magento, PHP, and web development. It contains specific 'points' with start/end years and lead-role indicators. Use it to ground all career claims in factual data",
        "qdrantCollection": {
          "__rl": true,
          "value": "resume",
          "mode": "list",
          "cachedResultName": "resume"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        304,
        736
      ],
      "id": "6fec6890-9688-4d5c-8d25-783598129d58",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "ZBxpJm0RU3lTDLvz",
          "name": "Qdrant account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        640
      ],
      "id": "552f5efa-da27-4591-90d4-0bffc264d574",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_applications",
          "mode": "list",
          "cachedResultName": "job_applications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "job_offers_id": "={{ $('Edit Fields').item.json.id }}",
            "company": "={{ $('Edit Fields').item.json.company }}",
            "recp_email": "={{ $('Edit Fields').item.json.email }}",
            "title": "={{ $('Edit Fields').item.json.subject }}",
            "content": "={{ $('AI Agent').item.json.output }}",
            "sender_name": "={{ $('Edit Fields').item.json.sender_name }}",
            "sender_email": "={{ $('Edit Fields').item.json.sender_email }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_offers_id",
              "displayName": "job_offers_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recp_name",
              "displayName": "recp_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recp_email",
              "displayName": "recp_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -400,
        320
      ],
      "id": "528bc346-f090-4642-a15f-c67430681511",
      "name": "Save",
      "credentials": {
        "postgres": {
          "id": "g5e3W2e5yHEjzZoI",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "codestral-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        48,
        736
      ],
      "id": "740866be-a8b2-4aba-8239-64b09a3adf07",
      "name": "Mistral",
      "credentials": {
        "mistralCloudApi": {
          "id": "mNGknH3RPQM36hPs",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        384,
        944
      ],
      "id": "2e81a72c-d38a-4534-af73-2b9a943691c5",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "mNGknH3RPQM36hPs",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "200f1c16-a4b3-4cb6-840b-e5d5ab746495",
              "leftValue": "={{ $json.output.to }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        672,
        688
      ],
      "id": "020e4d97-df59-4646-a834-023ee7221e0a",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "433715e5-6ff7-4a01-8bd0-220ac93892ec",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "c36d91c2-cc1f-4286-93f3-e578ce14b347",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "e70eb84d-2d35-4986-b245-1965b7a83191",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "a5729bbe-f05b-407b-8728-cad3d8f79f8a",
              "name": "company_url",
              "value": "={{ $json.company_url }}",
              "type": "string"
            },
            {
              "id": "5f2aa5c3-ee6c-42da-93a2-75ad3d3fc6c3",
              "name": "subject",
              "value": "=Bewerbung: {{ $json.title }}",
              "type": "string"
            },
            {
              "id": "50829369-6af5-478e-92b3-b8d99a4d4fbc",
              "name": "sender_name",
              "value": "Osiozekhai Aliu",
              "type": "string"
            },
            {
              "id": "53c46b2f-b3e6-4274-8e7e-8829c1ee05fb",
              "name": "sender_email",
              "value": "aliu@dev-hh.de",
              "type": "string"
            },
            {
              "id": "980cdc07-5764-469b-9343-9896096db69c",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        512
      ],
      "id": "304e02ee-a8a7-493a-b356-19bedde3bbc6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c02b94e3-1a1c-49b9-938f-71121a9159c6",
              "leftValue": "={{ ($json.description.match(/\\p{L}/gu) || []).length }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -400,
        512
      ],
      "id": "1c6528c8-07c7-4072-9fb9-0922a9e9e656",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Job Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Offers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Save",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateDraft email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CreateDraft email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9a9a9259-ea05-44a3-8ec4-cb9592e7c4e9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "VKuRwjXo1SdXDOKh",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}