n8n-workflows/6.Job Application Writer.json
{
  "name": "6.Job Application Writer",
  "nodes": [
    {
      "parameters": {
        "description": "Use this tool to decompose the job offer and plan the narrative strategy. Mandatory for analyzing the required tech stack, company tone, and core responsibilities before searching the Vector Store. Use it to ensure the final application is grounded in logic and matches the specific requirements of the role without using forbidden buzzwords."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -144,
        624
      ],
      "id": "78a02e53-86a3-45b3-8e5f-45790aa92739",
      "name": "Think"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -16,
        624
      ],
      "id": "cc33dd78-69a3-4537-97cb-fb0812f58ea0",
      "name": "Calculator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=my_name: Osio Aliu\nid: {{ $json.id }}\ncompany: {{ $json.company }}\nemail: {{ $json.email }}\ncompany_urL: {{ $json.company_url }}\ntitle: {{ $json.title }}\n\ndescription:\n{{ $json.description }}\n\n",
        "options": {
          "systemMessage": "=---\n### Job Application Helper\n\nYou are an assistant that supports writing job applications by using provided information and following a clear process.\n\nMain goal:\nCreate a job application letter of 300–500 words, output in strict JSON format.  \nOnly use information that actually exists in the data you can access. Do not make up skills, experiences or facts.\n\nTools you can use:\n- Think step: for initial analysis of the job posting\n- vector_db_skills: query this to retrieve relevant skill and project evidence (call it when needed)\n- Calculator / current date functions: to compute years of experience or anchor to today's date\n\nMandatory process — follow these steps in order:\n\nStep 1 — Analyse the job (use internal thinking)\nRead the input and identify:\n- Job title\n- Company name\n- Main technologies mentioned (examples: Kubernetes, Terraform, AWS, …)\n- General tone of the advertisement\n\nStep 2 — Retrieve evidence (must use vector_db_skills)\nQuery vector_db_skills with the key technologies from step 1.  \nYou must receive at least 3 concrete, matching skill or project entries before continuing.  \nIf the query returns fewer than 3 relevant items, stop here and return only:\n{\"error\": \"Insufficient data in Vector Store to match requirements.\"}\n\nStep 3 — Write the letter\nCreate a letter with exactly four paragraphs:\n1. Introduction\n2. Motivation for applying\n3. Technical fit / evidence (refer to specific items from the vector_db_skills results)\n4. Closing\n\nThe writer persona to follow:  \n≈ 20 years of professional experience, mostly freelance, strong focus on web technologies and Magento projects.\n\nStep 4 — Output format\nReturn the result **only** as valid JSON — no extra text, no explanations, no markdown outside the JSON.\n\nForbidden expressions (do not use these words/phrases at all):\ngame-changer, transform, delve, unleash, revolutionize, meticulous, navigating, complexities, realm, bespoke, tailored, towards, not only, it's not merely, magic, grab a coffee.\n\nImportant notes:\n- Do not use placeholder text.\n- If evidence is missing after the mandatory query, use the error message shown above.\n- Otherwise continue and produce the letter.\n\nOutput format (exactly this structure):\n\n```json\n{\n  \"subject\": \"Bewerbung: [Job Title]\",\n  \"from\": \"aliu@dev-hh.de\",\n  \"to\": \"[Company Email or 'null']\",\n  \"text\": \"[Final Letter Content]\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        400
      ],
      "id": "d3de9c59-d7bf-4b55-9659-db3b446f9bd6",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1072,
        576
      ],
      "id": "b174299f-021b-46d6-a877-ba54e3d546cf",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "email",
        "operation": "createDraft",
        "destinationMailbox": {
          "__rl": true,
          "value": "Entwürfe",
          "mode": "list",
          "cachedResultName": "Entwürfe"
        },
        "subject": "={{ $json.subject }}",
        "from": "={{ $json.from }}",
        "to": "={{ $json.to }}",
        "text": "={{ $json.text }}"
      },
      "type": "n8n-nodes-imap-enhanced.imapEnhanced",
      "typeVersion": 1,
      "position": [
        1072,
        656
      ],
      "id": "fd5e2f01-e5c5-4d76-b521-1bfca932e670",
      "name": "CreateDraft email",
      "credentials": {
        "imapApi": {
          "id": "6xf5db8A9PS90YYN",
          "name": "IMAP Credentials account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Access the 'output' string from the current item\nconst rawString = $input.item.json.output;\n\nif (!rawString) {\n  return { json: { error: \"No output field found\" } };\n}\n\ntry {\n  // 1. Remove potential Markdown code blocks\n  const cleanString = rawString.replace(/```json|```/g, \"\").trim();\n  \n  // 2. Parse the string into a real object\n  const parsed = JSON.parse(cleanString);\n\n  // 3. Return the parsed data\n  return {\n    json: parsed\n  };\n} catch (error) {\n  return {\n    json: {\n      error: \"Invalid JSON format\",\n      original_output: rawString\n    }\n  };\n}"
      },
      "id": "6eda640c-19d4-4bc2-bfb5-a2ec3e578c46",
      "name": "Parse Application JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        624,
        400
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers",
          "mode": "list",
          "cachedResultName": "job_offers"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "expired",
              "value": "false"
            },
            {
              "column": "email",
              "condition": "IS NOT NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        576
      ],
      "id": "b5ec441b-494a-4b32-8275-7e149a1295af",
      "name": "Job Offers",
      "credentials": {
        "postgres": {
          "id": "ceRmvobzfi3fViKu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this tool to retrieve verified professional experience, technical skills, and project references for me the writer. Access this database to find concrete evidence of expertise in Magento, PHP, and web development. It contains specific 'points' with start/end years and lead-role indicators. Use it to ground all career claims in factual data",
        "qdrantCollection": {
          "__rl": true,
          "value": "resume",
          "mode": "list",
          "cachedResultName": "resume"
        },
        "topK": 10,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        128,
        624
      ],
      "id": "6fec6890-9688-4d5c-8d25-783598129d58",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "5zLckKlW4WMSmDEm",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "job_applications",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -272,
        624
      ],
      "id": "4f2754da-3cde-46b4-9306-497dc3f4ea99",
      "name": "Memory",
      "credentials": {
        "postgres": {
          "id": "ceRmvobzfi3fViKu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTimeTool",
      "typeVersion": 2,
      "position": [
        416,
        624
      ],
      "id": "35118f54-75d7-43ee-a756-8e32415345a4",
      "name": "Datetime"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -624,
        576
      ],
      "id": "552f5efa-da27-4591-90d4-0bffc264d574",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_applications",
          "mode": "list",
          "cachedResultName": "job_applications"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "job_offers_id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_offers_id",
              "displayName": "job_offers_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recp_name",
              "displayName": "recp_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recp_email",
              "displayName": "recp_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "528bc346-f090-4642-a15f-c67430681511",
      "name": "Save",
      "credentials": {
        "postgres": {
          "id": "ceRmvobzfi3fViKu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ea4ef6fd-f06e-44e1-92c8-c15461b865ad",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5f7bba64-bdd5-49f0-b49a-9460d00deacd",
              "leftValue": "={{ $('Loop Over Items').item.json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        576
      ],
      "id": "07ce054c-efad-4a79-bb91-4ccf9a6d7c84",
      "name": "If"
    },
    {
      "parameters": {
        "model": "codestral-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -400,
        624
      ],
      "id": "740866be-a8b2-4aba-8239-64b09a3adf07",
      "name": "Mistral",
      "credentials": {
        "mistralCloudApi": {
          "id": "yy2J74r8rO6wyA97",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        208,
        832
      ],
      "id": "2e81a72c-d38a-4534-af73-2b9a943691c5",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "yy2J74r8rO6wyA97",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Job Offers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Application JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Application JSON": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Offers": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Datetime": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Save",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateDraft email": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "CreateDraft email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "08644584-74e4-49b8-9d61-e033c3507dd9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "VKuRwjXo1SdXDOKh",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    }
  ]
}