n8n-workflows/Job Offers - store.json
{
  "name": "Job Offers - store",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        880
      ],
      "id": "d9fe61f4-ed49-45c4-a7dd-cb7443e46231",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "64b116cc-202c-4df4-b699-6cdf8b6624b8",
              "leftValue": "={{ $json.title }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -1168,
        880
      ],
      "id": "aedc854f-cac0-4764-ab82-9f376da10035",
      "name": "Filter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "15d7ccca-a1cd-4189-bbbf-5ffc3cc24d8a",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -720,
        880
      ],
      "id": "66f9f2f0-ad1b-411c-87c9-1b7151cfff6c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO job_offers (\n  company,\n  email,\n  title,\n  url,\n  description,\n  location,\n  salary,\n  schedule_type,\n  posted,\n  via\n)\nVALUES (\n  $1, $2, $3, $4, $5, $6, $7,\n  $8,\n  NULLIF($9, 'null')::timestamp,\n  $10\n)\nON CONFLICT (url) DO NOTHING\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $json.company }}, {{ $json.email }}, {{ $json.title }}, {{ $json.url }}, {{ $json.description }}, {{ $json.location }}, {{ $json.salary }}, {{ $json.schedule_type }}, {{ $json.posted }}, {{ $json.via }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        688
      ],
      "id": "eba4c760-69de-4b4f-bb9d-a723eececdf0",
      "name": "Insert",
      "executeOnce": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "wthjjnZmr2Hf72m0",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This script filters out any items that contain the key \"html\"\nreturn items.filter(item => {\n  // We check if the key 'html' exists in the object at all\n  // If it DOES NOT have the property, we keep it (return true)\n  return !item.json.hasOwnProperty('html');\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -944,
        880
      ],
      "id": "3e379a55-3850-4b03-b8e7-c0de437f27df",
      "name": "Filter Out HTML"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "job_offers_process",
          "mode": "list",
          "cachedResultName": "job_offers_process"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "research": "=false",
            "job_offers_id": "={{$json.id}}",
            "research_email": "=false",
            "applied": false
          },
          "matchingColumns": [
            "job_offers_id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_offers_id",
              "displayName": "job_offers_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "research",
              "displayName": "research",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "research_email",
              "displayName": "research_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "applied",
              "displayName": "applied",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -48,
        688
      ],
      "id": "d81a1bf3-d21d-4b6e-a956-766e37792914",
      "name": "Process Insert",
      "executeOnce": false,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "wthjjnZmr2Hf72m0",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_offers_process\nSET \n  research = COALESCE($1::boolean, research),\n  research_email = COALESCE($2::boolean, research_email)\nWHERE job_offers_id=$3;",
        "options": {
          "queryReplacement": "={{ \n[\n  $json.process == 'Research' || null,\n  $json.process == 'Research_Email' || null,\n  Number($json.id)\n] \n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        880
      ],
      "id": "d5f6c1ad-a9c0-475f-9e34-9293d1878bfa",
      "name": "Process Update",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "wthjjnZmr2Hf72m0",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "aa07a02f-0bb8-4d99-af98-384fffcc831f",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -272,
        688
      ],
      "id": "62e646b5-d63f-4370-81a1-4440aa88ed5a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE \n  job_offers\nSET \n  expired = COALESCE($1::boolean, expired),\n  title = COALESCE($2::text, title),\n  company = COALESCE($3::text, company), \n  company_url = COALESCE($4::text, company_url),\n  email = COALESCE($5::text, email),\n  description = COALESCE($6::text, description),\n  salary = COALESCE($7::text, salary),\n  schedule_type = COALESCE($8::text, schedule_type),\n  match_score_percentage = COALESCE($9::integer, match_score_percentage)\nWHERE\n  id=$10::integer;",
        "options": {
          "queryReplacement": "={{ \n[\n  !!$json.expired,\n  $json.title || null,\n  $json.company || null,\n  $json.company_url || null,\n  $json.email || null,\n  $json.description || null,\n  $json.salary || null,\n  $json.schedule_type || null,\n  $json.match_score_percentage || null,\n  Number($json.id)\n] \n}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        1072
      ],
      "id": "cc27b242-9ff3-438e-bc84-b9a24e2c5c2d",
      "name": "Update",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "postgres": {
          "id": "wthjjnZmr2Hf72m0",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter Out HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Update",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out HTML": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Process Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  },
  "versionId": "092b0b16-4cc6-41e9-a1b8-5a3e59005599",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "LHkRO7NbYVvWkxt2",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:53:00.595Z",
      "createdAt": "2026-03-20T09:53:00.595Z",
      "id": "lw4tE7ESajawvgkE",
      "name": "jobs"
    },
    {
      "updatedAt": "2026-03-20T09:54:05.904Z",
      "createdAt": "2026-03-20T09:54:05.904Z",
      "id": "QCecRYRDcTAYeAKX",
      "name": "subworkflow"
    }
  ]
}