n8n-workflows/Prompt.json
{
  "name": "Prompt",
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "prompt",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ],
      "id": "b4e980cb-2dce-4971-9119-fa94cba2dc00",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "339a5a0e-b0fb-4504-bbc0-ad61d64ea0d8",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    prompt: ($input.first().json.prompt.match(/```([\\s\\S]*?)```/) || [])[1]?.trim() || null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ],
      "id": "dd9ad964-666d-4427-aea0-12ffacce1bc4",
      "name": "extract prompt"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "path"
            }
          ]
        }
      },
      "id": "0b1235c4-0f88-4565-a06d-861b5a055ae6",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "extract prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "6789551c-0631-4743-b94d-c70782ea5845",
  "meta": {
    "instanceId": "b751e283d167317e522f290d63e0b956085524c7c105edc03e657e7409fe8050"
  },
  "id": "rGIluizJ8qfWnidf",
  "tags": [
    {
      "updatedAt": "2026-03-20T09:54:05.904Z",
      "createdAt": "2026-03-20T09:54:05.904Z",
      "id": "QCecRYRDcTAYeAKX",
      "name": "subworkflow"
    }
  ]
}